.cta-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    transition: .3s;
}

.cta-btn {
    font-size: .9rem;
    padding: .55rem;
    margin: 0rem;
    color: #E5E5E5;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

.cta-btn-svg-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.cta-btn-svg {
    height: 1.5rem;
    filter: invert(59%) sepia(67%) saturate(408%) hue-rotate(6deg) brightness(97%) contrast(91%);
}

.cta-btn-container:hover {
    /* opacity: 0.8; */
    filter: brightness(120%);
}

.cta-btn-container:active {
    opacity: 0.8;
}

.category-budget-setter {
    width: 5%;
    margin: 0 1rem;
    transition: 0.3s;
}

.category-budget-setter:hover {
    /* opacity: 0.8; */
    filter: brightness(120%);
}

.cta-login {
    margin: 1rem 0;
    transition: 0.3s;
}

.cta-login:hover {
    /* opacity: 0.8; */
    filter: brightness(120%);
}

.cta-register {
    margin: 1rem 0;
    transition: 0.3s;
}

.cta-register:hover {
    /* opacity: 0.8; */
    filter: brightness(120%);
}

.cta-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: 0.3s;
}

.csv-cta-btn {
    margin: .5rem;
    width: 100%;
}