    .switch__container {
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        transition: .3s;
        cursor: pointer;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    .switch__container:hover .switch__slider--on {
        filter: brightness(120%);
    }

    .switch__container:hover .switch__slider--off {
        filter: brightness(120%);
    }

    .switch__container:hover .switch__row {
        border: 1px solid #1B365D;
    }


    .switch__row {
        width: 3.5rem;
        height: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        border-radius: 2rem;
        transition: .3s;
        border: 1px solid lightgray;
        padding: .2rem .25rem;
        margin-top: .1rem;
    }

    .switch__row--dark {
        width: 3.5rem;
        height: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        border-radius: 2rem;
        transition: .3s;
        border: 1px solid #424244;
        padding: .2rem .25rem;
        margin-top: .1rem;
    }

    .switch__label {
        font-size: .8rem;
        margin: 0 0 .3rem 0;
        text-align: left;
        font-weight: bold;
        color: rgb(105, 104, 105);
        background-color: transparent;
    }

    .switch__label--dark {
        font-size: .8rem;
        margin: 0 0 .3rem 0;
        font-weight: bold;
        text-align: left;
        background-color: transparent;
        color: #cca43b;
    }


    .switch__on {
        width: 1.75rem;
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: .9rem;
        text-align: center;
        margin: 0;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        color: #1b1b1b;
        transition: .3s;
    }

    .switch__off {
        width: 1.75rem;
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: .9rem;
        text-align: center;
        margin: 0;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        color: #383838;
        transition: .3s;
    }


    .switch__slider--off {
        width: 1.75rem;
        height: 1.5rem;
        line-height: 1.5rem;
        background-color: #53565a;
        border: 1px solid #787878;
        border-radius: 2rem;
        position: absolute;
        transform: translateX(-5%);
        transition: .3s;
        z-index: 1;
        text-align: center;
        color: gray;
        font-size: .8rem;
        margin: 0;
    }

    .switch__slider--on {
        width: 1.75rem;
        height: 1.5rem;
        line-height: 1.5rem;
        background-color: #53565a;
        border: 1px solid #787878;
        border-radius: 2rem;
        position: absolute;
        transform: translateX(95%);
        transition: .3s;
        z-index: 1;
        text-align: center;
        color: gray;
        font-size: .8rem;
        margin: 0;
    }