.menu-container {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  background-color: #263d42;
  position: fixed;
  width: 20%;
  height: 100%;
  padding: 3vw;
  z-index: 2;
  margin-top: 3vw;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin: 1vw auto;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  cursor: pointer;
  transition: .3s;
}

.menu-item:hover {
  transition: .3s;
  transform: translateX(3%);
}

.menu-item-svg {
  height: 2vw;
  filter: invert(59%) sepia(67%) saturate(408%) hue-rotate(6deg) brightness(97%) contrast(91%);
  width: 10%;
}

.menu-item-text {
  font-size: 1.3vw;
  text-align: left;
  margin: 0;
  width: 90%;
  color: #CCA43B;
}

.menu-hidden {
  transform-origin: top center;
  transform: translateX(500%);
  transition: 0.5s
}

.menu-toggled {
  transform: translateX(290%);
  transition: 0.5s
}

.menu-close-btn {}

.app-version {
  font-weight: normal;
  color: #bdbdbd;
  align-self: center;
  position: absolute;
  bottom: 0;
  height: 12vw;
}



@media only screen and (max-width: 640px) {
  .menu-container {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    background-color: #263d42;
    position: fixed;
    width: 70%;
    height: 100%;
    padding: 3vw;
    z-index: 2;
    margin-top: 15vw;
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin: 4vw auto;
  }

  .menu-item {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 7vw;
  }

  .menu-item-svg {
    height: 6vw;
    filter: invert(59%) sepia(67%) saturate(408%) hue-rotate(6deg) brightness(97%) contrast(91%);
    width: 10%;
  }

  .menu-item-text {
    font-size: 1vw;
    text-align: left;
    margin: 0;
    width: 90%;
  }

  .menu-hidden {
    transform-origin: top center;
    transform: translateX(150%);
    transition: 0.5s
  }

  .menu-toggled {
    transform: translateX(35%);
    transition: 0.5s
  }

  .menu-close-btn {}

  .app-version {
    font-weight: normal;
    color: #bdbdbd;
    align-self: center;
    position: absolute;
    bottom: 0;
    height: 30vw;
  }

}