@import url('https://fonts.cdnfonts.com/css/ds-digital');

.calculator-container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.calculator-frame {
    display: flex;
    flex-direction: column;
    border: 1px solid #263d42;
    border-radius: .5rem;
    box-shadow: 4px 4px 10px gray;
}

.calculator-screen {
    width: 80%;
    height: 4vh;
    font-size: 4vh;
    margin: 1rem 0 0 0;
    border-top: 2px solid #5b6567;
    border-left: 2px solid #5b6567;
    border-right: 1px solid #5b6567;
    border-bottom: 1px solid #5b6567;
    border-radius: .5rem;
    align-self: center;
    text-align: end;
    padding: 0.5rem 1rem;
    white-space: no-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'DS-Digital', sans-serif;
}

.calculator-btns {
}

.diff-btn {
    background-color: #abc1c5;
}

.calculator-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem;
}

.calculator-btn {
    box-shadow: 2px 2px 4px gray;
    color: #263d42;
    border-radius: 50%;
    padding: 1rem;
    text-align: center;
    height: 1rem;
    width: 1rem;
    line-height: 1rem;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.calculator-btn:hover {
    opacity: .6;
}

.calculator-btn:active {
    background-color: #263d42;
    color: #E5E5E5
}