.inputfield-container {
    width: 100%;
}

.inputfield-label {
    font-size: 1.2rem;
    margin: 1rem;
    text-align: center;
}

.inputfield-field {
    border: 1px solid  lightgray;
    background-color: #e5e5e5;
    font-weight: normal;
    border-radius: .5rem;
    padding: .55rem;
    font-size: .9rem;
    transition: .3s;
    margin: 0;
}

.inputfield-field:focus {
    outline: #263d42;
    border: 1px solid #E4C69C;
    /* background-color: #3a3a3a; */
}

.inputfield-textarea {
    border: 1px solid  lightgray;
    background-color: #e5e5e5;
    font-weight: normal;
    border-radius: .5rem;
    margin: 0;
    padding: .55rem;
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: normal;
    resize: none;
    transition: .3s;
}

.inputfield-textarea:focus {
    outline: #263d42;
    border: 1px solid #E4C69C;
}


.inputfield-field::placeholder {
    font-size: inherit;
    font-weight: normal;
}

.drop-item-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid gray;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top: none;
    width: calc(100% - 2px);
    z-index: 2;
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
    transition: .3s;
}

.drop-item {
    font-size: .9rem;
    color: gray;
    margin: 0;
    height: 1.5rem;
    line-height: 1.5rem;
    cursor: pointer;
    padding: .4rem .7rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
}


.drop-item:hover {
    background-color: #cca43b;
}
