.dropdown-btn-container {
    padding-left: 0.6vw;
}

.dropdown-btn {
    border: none;
    outline: none;
    scroll-behavior: smooth;
    width: 50%;
    padding-left: 1vw;
    font-size: 1.3vw;
    font-style: italic;
}

.dropdown-option {
    margin: 40px;
    background: #e5e5e5;
    color: #263d42;
    background-color: #e5e5e5;
}

.dropdown-label {
    font-size: 1.2vw;
    margin: 1vw 0 1vw 0;
}

@media only screen and (max-width: 640px) {
    .dropdown-btn-container {
    }

    .dropdown-btn {
        border: none;
        outline: none;
        scroll-behavior: smooth;
        width: 50%;
        font-size: 4vw;
        font-style: italic;
    }

    .dropdown-option {
        margin: 40px;
        background: #e5e5e5;
        color: #263d42;
        background-color: #e5e5e5;
    }

    .dropdown-label {
        font-size: 4vw;
        margin: 4vw 0 1vw 0;
    }
}